.header {
  // margin-top: 50px;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  left: 0;
  width: 100%;
  // height: 70px;
  -webkit-box-shadow: 0px 0px 26px -8px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 26px -8px rgba(0, 0, 0, 0.4);
  &__grid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    &__logoCont {
      &_logo {
        display: inline-block;
        img {
          width: 30%;
          height: 30%;
        }
      }
    }
    &__links {
      display: none;
      &__item {
        list-style-type: none;
      }
      &__cart {
        list-style-type: none;
        &__link {
          &_num {
            margin-left: 8px;
          }
        }
      }
    }
    &__menuIcon {
      justify-self: flex-end;
      cursor: pointer;
      svg {
        width: 20px;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .header {
    position: relative;
    &__grid {
      width: 80%;

      &__links {
        display: flex;
        justify-content: space-between;
      }
      &__menuIcon {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 834px) {
  .header {
    &__grid {
      width: 70%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    box-shadow: none;

    &__grid {
      &__links {
        display: flex;
        justify-content: space-between;
      }
      &__menuIcon {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    &__grid {
      width: 60%;
    }
  }
}
