.shop {
  width: 100%;
  height: 100vh;
  &__container {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .shop {
    &__container {
      width: 80%;
    }
  }
}
@media only screen and (min-width: 834px) {
  .shop {
    &__container {
      width: 70%;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .shop {
    &__container {
      width: 60%;
    }
  }
}
