.footer {
  bottom: 0;
  left: 0;
  width: 100%;

  height: 50px;
  background: #fff;
  position: fixed;
  z-index: 999;
  &__container {
    width: 90%;
    margin: 0 auto;
    &__links {
      padding-left: 0;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      font-size: 12px;
      svg {
        width: 12px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    &__container {
      width: 80%;
    }
  }
}

@media only screen and (min-width: 834px) {
  .footer {
    &__container {
      width: 70%;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    &__container {
      width: 60%;
    }
  }
}
