@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;

  &__container {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0 auto;
    &__logoCont {
      &_logo {
        font-family: "Damion", cursive;
        font-size: 100px;
        margin: 30px 0;
      }
    }
    &__navCont {
      width: 50%;
      margin: 0 auto;
      &__nav {
        padding: 0;
        display: flex;
        justify-content: space-between;
        &_item {
          font-size: 14px;
          list-style-type: none;
        }
      }
    }

    &__copyright {
      margin-top: 70px;
      &_txt {
        font-size: 8px;
      }
    }
  }
}
