.menu {
  position: fixed;
  z-index: 28;
  width: 100%;
  height: 100%;
  left: 0;
  top: 70px;
  display: block;
  // display: none;
  // position: relative;
  &__container {
    width: 100%;
    height: 100%;
    position: relative;
    &__overlay {
      width: 100%;
      height: 100vh;
      background-color: #000;
      opacity: 0.5;
      position: absolute;
    }
    &__wrap {
      width: 70%;
      height: 100%;
      background-color: #000;
      position: absolute;
      z-index: 999;
      right: 0;
      &__links {
        list-style: none;
        padding: 0;
        &_link {
          width: 100%;
          color: #fff;
          font-size: 20px;
          text-transform: uppercase;
          border-bottom: 1px solid #999999;
          padding: 10px 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .menu {
    display: none;
    &__container {
      display: none;
      &__overlay {
        width: 100%;
        height: 100vh;
        background-color: #000;
        opacity: 0.5;
        position: absolute;
      }
      &__wrap {
        width: 70%;
        height: 100%;
        background-color: #ffffff;
        position: absolute;
        z-index: 999;
        right: 0;
      }
    }
  }
}
